<div>
    <br>
    <mat-card>
        <button mat-raised-button color="primary" routerLink="/create">
      Add A Record
    </button>
        <mat-divider></mat-divider>
        <br>
        <table mat-table [dataSource]="records">
            <ng-container matColumnDef="artist">
                <th mat-header-cell *matHeaderCellDef>artist</th>
                <td mat-cell *matCellDef="let element">{{element.artist}}</td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>title</th>
                <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>

            <ng-container matColumnDef="genre">
                <th mat-header-cell *matHeaderCellDef>genre</th>
                <td mat-cell *matCellDef="let element">{{element.genre}}</td>
            </ng-container>

            <ng-container matColumnDef="rating">
                <th mat-header-cell *matHeaderCellDef>rating</th>
                <td mat-cell *matCellDef="let element">{{element.rating}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cel *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="primary" (click)="editRecord(element._id)">Edit Record</button>
                    <button mat-button color="primary" (click)="deleteRecord(element._id)">Delete Record</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </mat-card>
</div>